<wolfpaq-header elements="header.elements"></wolfpaq-header>
<wolfpaq-menu ng-model="menu.elements"></wolfpaq-menu>
<div id="splash-screen-container" class="green-container">
	<img id="logo" src="Shared/Images/wolfpaq-logo-white.svg"/><br>
	<div class="input-container"><input tabindex="1" focused on-enter="submit()" type="text" placeholder="Username" ng-model="username"/></div><br>
	<div class="input-container password-container"><input tabindex="2" on-enter="submit()" type="password" class="password" type="password" placeholder="Password" ng-model="password"/></div><br>
	<p ng-if="errorText.length > 0" class="error" ng-bind="errorText"></p>
	<button id="login-button" tabindex="3" class="login button" ng-click="submit()" ng-keyup="$event.keyCode == 13 && submit()"><p>log in</p></button><br>
	<a href="#/SignUp/Email"><button id="signup-button" tabindex="4" class="signup button" ng-keyup="$event.keyCode == 13 && openUrl('/SignUp/Email')"><p>sign up</p></button></a><br>
	<a href="#/ForgotPassword" id="forgot-password">forgot password?</a>
</div>