<wolfpaq-header elements="header.elements"></wolfpaq-header>
<wolfpaq-menu ng-model="menu.elements"></wolfpaq-menu>
<div id="sign-up-controls">
	<a href="#/SignUp/Email" class="left-arrow"><img src="Shared/Images/Left-arrow.svg" /></a>
</div>
<div class="container green-container">
	<form url="SignUp/Password" onsubmit="return submitFunction(event)">
	    <img id="logo" src="Shared/Images/wolfpaq-logo-white.svg"/>
	    <div class="input-container"><input type="text" focused placeholder="Choose a username" ng-model="session.signup.username"/></div><br>
		<input ng-if="session.signup.username" type="submit" tabindex="2" id="next-button" class="next button" value="next" />
		<p ng-if="error.length > 0" class="error" ng-bind="error"></p>
	</form>
</div>