<wolfpaq-header elements="header.elements"></wolfpaq-header>
<wolfpaq-menu ng-model="menu.elements"></wolfpaq-menu>
<div id="sign-up-controls">
	<a href="#/SignUp/PhoneNumber" class="left-arrow"><img src="Shared/Images/Left-arrow.svg" /></a>
	<a href="#/SignUp/AddFriends" class="right-arrow" ng-if="platform != 'web'">skip</a>
</div>
<table class="container green-container">
	<tr>
		<td>
		    <div id="profile-picture-container">
		        <!--<img id="picture" style="width: 100%;" />-->
			    <img id="picture" draggable ng-model="session.signup.imageDimensions" ng-show="imgStyle" />
		    </div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="button-container">
				<form ng-attr-url="{{ platform == 'web' ? undefined : 'SignUp/AddFriends' }}" onsubmit="return submitFunction(event)">
					<input type="file" name="file" id="file" onchange="angular.element(this).scope().attachedFile(this)" />
					<label for="file" class="photo button" ng-click="platform != 'web' && selectPicture()">import from {{ deviceName | lowercase }}</label><br>
				    <div ng-if="platform != 'web'" class="photo button" ng-click="takePicture()">img</div><br ng-if="platform != 'web'">
				    <input ng-if="platform != 'web'" type="submit" tabindex="2" id="next-button" class="next button" value="next" />
					<button ng-if="platform == 'web'" ng-click="valid() && register()" class="button" ng-bind="success == null ? 'loading...' : 'finish'"></button>
					<p ng-if="error.length > 0" class="error" ng-bind="error"></p>
				</form>
			</div>
		</td>
	</tr>
</table>