<wolfpaq-header elements="header.elements"></wolfpaq-header>
<wolfpaq-menu ng-model="menu.elements"></wolfpaq-menu>
<div id="sign-up-controls">
	<a href="#/SignUp/Username" class="left-arrow"><img src="Shared/Images/Left-arrow.svg" /></a>
</div>
<div class="container green-container">
	<form url="SignUp/PhoneNumber" onsubmit="return submitFunction(event)">
	    <div class="sign-up-img"><img class="lock" src="Shared/Images/padlock.svg"/></div><br>
	    <div class="input-container password-container"><input tabindex="1" class="password" type="password" placeholder="Create a password" ng-model="session.signup.password" focused/></div><br>
	    <div class="input-container password-container"><input tabindex="2" class="password" type="password" placeholder="Re-enter your password" ng-model="session.signup.passwordConf"/></div><br>
		<input type="submit" tabindex="2" id="next-button" class="next button" value="next" />
		<p ng-if="error.length > 0" class="error" ng-bind="error"></p>
	</form>
</div>