<wolfpaq-header elements="header.elements"></wolfpaq-header>
<wolfpaq-menu ng-model="menu.elements"></wolfpaq-menu>
<div class="container green-container">
    <div class="input-container"><input tabindex="1" focused type="text" placeholder="enter your email" ng-model="email" /></div><br>
    <button tabindex="2" id="next-button" class="next button" ng-click="resetPassword()">reset password</button>
    <p ng-if="message.length > 0" ng-bind="message"></p>
    <p ng-if="error.length > 0" ng-bind="error" class="error"></p>
</div>